.app-monitor {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.app-console {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-operation-list {
  display: flex;
  flex: 1;
  overflow: scroll;
  min-height: min-content;
  width: 100%;
}

.app-toolbar {
  display: flex;
  flex-direction: column;
}

.app-toolbar-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.app-toolbar-tail {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
